// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #ffbc00;
$primary-500: #dfa503;
$secondary: black;
$secondary-500: #161616;
$secondary-300: #3f3f3f;
$secondary-200: #67686a;

// viewports
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	background-color: black;
	color: white;
	height: 8000px;
}

// ****************************
// Header
// ****************************
.top-header {
	background-color: black;
	height: 115px;
	display: flex;
	align-items: center;
	background-image: url(../img/header-top-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	@media (max-width: $md) {
		padding-top: 30px;
		padding-bottom: 45px;
		height: auto;
	}

	.top-header-contact {
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md) {
			justify-content: space-around;
			align-items: center;
		}

		.mobile-menu-dropdown {
			display: none;

			@media (max-width: $md) {
				display: block;
			}

			button {
				color: white;
				font-weight: bold;
				font-size: 20px;
				padding: 0.5em 1em;
				border-radius: 5px;
				border: none;

				span {
					margin-right: 0.5em;
				}

				&:hover {
					background-color: black;
				}
			}
		}

		a {
			display: inline-block;
			color: white;
			border: 1px solid $primary;
			padding: 0.5em 1em;
			margin-left: 1em;
			background-color: black;
			border-radius: 1.5em;
			font-size: 20px;

			@media (max-width: $md) {
				margin-left: 0px;
			}

			&.top-header-contact-email {
				@media (max-width: $xl) {
					display: none;
				}
			}

			.fa {
				color: $primary;
				margin-right: 0.5em;
			}
		}
	}

	.mobile-holder-logo {
		@media (max-width: $md) {
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

#main-nav {
	background-color: $secondary-300;
	border-top: 1px solid $secondary-200;
	border-bottom: 1px solid $secondary-200;

	#navbarNavDropdown {
		@media (max-width: $xl) {
			padding-top: 30px;
		}
	}

	.mobile-menu-dropdown {
		display: none;

		@media (max-width: $xl) {
			display: block;
		}

		@media (max-width: $md) {
			display: none;
		}

		button {
			color: white;
			font-weight: bold;
			padding: 10px;
			border-radius: 5px;
			border: none;

			span {
				margin-right: 0.5em;
			}

			&:hover {
				background-color: black;
			}
		}
	}

	.search-input-holder {
		border: 8px solid $primary;
		background-color: white;
		width: 350px;
		padding: 0px 10px;
		border-radius: 15px;
		margin-top: -30px;
		margin-bottom: -30px;
		display: flex;
		align-items: center;

		@media (max-width: $md) {
			width: 100%;
		}

		.title {
			font-weight: 300;
			font-size: 20px;
			margin-right: 10px;
			color: black;
		}

		input {
			flex: 1;
			font-size: 20px;
			padding: 20px 0;
			border: none;
			outline: none;

			&::placeholder {
				font-weight: bold;
				color: black;
			}
		}
	}

	#main-menu {
		li {
			a {
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				color: white;
				padding-left: 15px;
				padding-right: 15px;
			}
			&.current-menu-item {
				a {
					color: $primary;
				}
			}
			.dropdown-menu {
				background-color: $secondary-300;

				li {
					a {
						&:hover {
							background-color: black;
						}
					}
				}
			}
		}
	}
}

// ****************************
// Home Page
// ****************************

// Hero Banner
.home-hero-banner-top {
	margin-top: 100px;

	@media (max-width: $md) {
		margin-top: 50px;
	}
	.skip-bin-info-holder {
		border: 4px dashed $primary;
		border-radius: 30px;
		background-color: $secondary-500;
		padding: 30px;
		position: relative;
		@media (max-width: $md) {
			border-radius: 15px;
			padding: 15px;
		}

		.overlay-image-arrow {
			position: absolute;
			bottom: 100%;
			right: 25%;

			@media (max-width: $md) {
				display: none;
			}

			img {
				width: 135px;
				height: 146px;
			}
		}

		.title {
			font-size: 48px;
			font-weight: bold;

			@media (max-width: $md) {
				font-size: 30px;
			}
			.fa {
				color: $primary;
			}
		}

		.desc {
			font-size: 24px;
			font-weight: 300;
			color: $primary;

			@media (max-width: $md) {
				font-size: 18px;
			}
		}
	}

	.seven-day-skip-info {
		img {
			@media (max-width: $lg) {
				display: none;
			}
		}
		.title {
			display: none;
			color: $primary;
			font-size: 36px;
			font-family: "Just Another Hand", cursive;
			margin-top: 15px;
			@media (max-width: $lg) {
				display: block;
			}
		}
	}
}

//Product Info
.home-product-info {
	height: 1000px;
	background-color: $primary;
}
